body {
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
}
img#logo {
    height: 55px;
    padding: 0;
    vertical-align: middle;
    width: 55px;
}
img.clickable:hover {
	cursor: pointer;
}
h1 {
    vertical-align: middle;
}

/* -----------------------------------------------------------------------------
 * DHTML/Ajax List view styling
 * ---------------------------------------------------------------------------*/
div#filter {
    margin-bottom: 2em;
}
div.filterTitle {
    padding: 0.5em;
}
div.filterButtons {
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
span#exportSpan {
    padding-left: 250px;
    display: inline-block;
}
td.numeric {
    text-align: right;
}

table#dataTable > tbody > tr.even {
    background-color: #eef8ff;
}
table#dataTable > tbody > tr > td > img.icon {
	height: 24px;
	width: 24px;
	border: none;
	margin: 0px;
	vertical-align:middle;
}
table#dataTable > tbody > tr:hover {
	background-color: #E0F0F7;
}

/* -----------------------------------------------------------------------------
 * Static list view styling
 * ---------------------------------------------------------------------------*/
table.flatTable > tbody > tr > td.counter, td.total, td.min, td.mean, td.last, td.max, td.standardDeviation {
    text-align: right;
}
table.flatTable > tbody > tr.even {
    background-color: #eef8ff;
}
table.flatTable td {
    border-left:  solid black thin;
}
table.flatTable > thead {
    font-weight: bold;
    border:  solid black thin;
    text-align:  center;
}
table.flatTable {
    border: thin solid black;
    border-collapse: collapse;
    width:  100%;
}


/* -----------------------------------------------------------------------------
 * DHTML/Ajax Tree view styling
 * ---------------------------------------------------------------------------*/
table.dataTreeTable {
/*	border: solid 1px black;
	border-collapse:collapse;*/
	border-spacing: 2px 0px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	width:100%;
}
table.dataTreeTable > thead {
/*	border: solid 1px black;*/
	text-align:center;
	font-weight:bold;
}
/*table.dataTreeTable > thead > tr > td {
	border-left: solid 1px black;
}*/
table.dataTreeTable > thead > tr > td {
	background: url("start/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #0078AE;
	border: 1px solid #77D5F7;
	color: #FFFFFF;
	height: 36px;
}
table.dataTreeTable > tbody > tr:hover {
	background-color: #E0F0F7;
}
table.dataTreeTable > tbody > tr.visible {
	display: table-row;
}
table.dataTreeTable > tbody > tr.hidden {
	display: none;
}
table.dataTreeTable > tbody > tr > td {
	padding: 0px 2px 0px 2px;
/*	border-left: solid 1px black;*/
	margin: 0px;
}
table.dataTreeTable > tbody > tr > td.headCell{
	width: 40%;
}
table.dataTreeTable > tbody > tr > td.headCell > img.icon,
table.dataTreeTable > tbody > tr > td.footCell > img.icon {
	height: 24px;
	width: 24px;
	border: none;
	margin: 0px;
	vertical-align:middle;
}
table.dataTreeTable > tbody > tr > td.number {
	text-align: right;
	width: 5%;
}
table.dataTreeTable > tbody > tr > td.date {
	width: 10%;
}

/* -----------------------------------------------------------------------------
 * JQuery UI Start theme fix
 * ---------------------------------------------------------------------------*/
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.2em 0.5em 0.2em 1.8em;
}
.ui-button-text-only .ui-button-text {
    padding: 0.2em 0.5em;
}
.ui-widget {
    font-size: 1em;
}
