<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Java Simon Test Suite" verbose="2" annotations="JDK">
	<test name="Java Simon Test">
		<groups>
			<run>
				<exclude name="broken"/>
			</run>
		</groups>
		<classes>
			<class name="org.javasimon.FactoryTestNG"/>
			<class name="org.javasimon.StopwatchTestNG"/>
			<class name="org.javasimon.jdbc.SqlNormalizerTestNG"/>
			<class name="org.javasimon.utils.UtilsTestNG"/>
		</classes>
	</test>
</suite>